@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@200;300;400;500;600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #2B2B2B;
  --text-color: white;
}

html{
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

img {
  max-width: 372px;
}

a{
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1000px;
  height: 1873px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background: #2B2B2B;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media only screen and (max-width: 768px){
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 50rem;
  }
}

.profile-ptofileImg img {
  border-radius: 50%;
}
.header-box{
  display: flex;
  flex-direction: column;
}

.name-box .profile-name{
  display: flex;
  text-align: center;
  justify-content: center;
}

.name-box  .profile-subtitle {
  display: flex;
  align-items: center;  
}

.profile {
  grid-column: 1/ -1;
  margin-bottom: 2rem;
}

.profile-name {
  font-size: 63px;
  font-weight: bold;
}

.profile-subtitle {
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.profile-container {
  display: flex;
  gap: 2rem;
}

hr {
  border: 4px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profile-aboutMe{
  font-size: 36px;
}

.about-box .profile-aboutMe{
  display: flex;
  text-align: center;
  justify-content: center;
}

.aboutMe {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

#myName {
  display: block;
  font-size: 18px;
}

#developer {
  text-decoration: underline;
  font-size: 18px;
}