@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@200;300;400;500;600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #2B2B2B;
  --text-color: white;
}

html{
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

img {
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background: #2B2B2B;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media only screen and (max-width: 768px){
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}

.profile-ptofileImg img {
  border-radius: 50%;
}

.profile {
  grid-column: 1/ -1;
  margin-bottom: 2rem;
}

